body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #18181b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#still {
  font-size: smaller;
}


@media screen and (max-width: 768px) {


html, body {
  overflow-x: hidden;
}

#projects {
  grid-template-columns: 1fr;
}
#contact {
  padding-top: 0%;
  padding-bottom: 0%;
}

#certificates {
  grid-template-columns: 1fr;
}

#CredentialsSection {
  margin-left: 20%;
}

#bio {
  display: flex;
  margin-left: 10%;
}

#certificateBox {
  transform: scale(0.6);
}

}